[Unit]
Description = Web
After = caddy.service

[Service]
User = root
Group = root
Type = simple
# WorkingDirectory=/opt/monitor
# ExecStart = /usr/local/go/bin/go build -o cmd internal/api/app/api.go
ExecStart = /opt/monitor/cmd/api
Restart = always
RestartSec = 3
KillSignal=9

[Install]
WantedBy=multi-user.target
